.slider {
    width: 100%;
    height: 65vh;
    display: grid;
    grid-template-rows: 3fr 1fr;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
  }
  
  .image {
    max-width: 100%;
    max-height: 30vh;
    object-fit: contain;
    border-radius: 10px;
  }
  
  .right-arrow, .left-arrow {
    position: absolute;
    top: 50%;
    right: 5rem;
    font-size: 3rem;
    color: #000;
    z-index: 1;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    left: 5rem;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    height: 150px;
    max-height:200px;
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }
  .bottom-line {
    height: 10%;
    max-height: 100px;
    width: 90%;
    max-width: 600px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
  }
  .main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    height: 80%;
    max-height: 150px;
  }
  .bottom-line-image {
    max-height: 100px;
    max-width: 100px;
  }
  .bottom-line-image img{
    max-height: 10vh;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .main {
    transform: scale(1.5);
    border-radius: 10px;
    border: 1px solid #000;
    padding:0.2rem;
  }
 