.single-product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
    margin: 50px auto;
    align-items: center;
}

.right-side>h2 {
    font-size: clamp(1.5rem, 4vh, 4em);
}

.right-side>h2::before {
    content: "";
    background-color: #ebb032;
    position: absolute;
    width: 20rem;
    height: 1.5rem;
    opacity: 0.3;
    z-index: -1;
    margin-top: 2vh;
}

.left-side {
    display: flex;
    justify-content: center;
    width: 30%;
}

.right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-single {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    font-size: clamp(1rem, 2.5vh, 4em);
    color: #23394d;
}

.section-single>h3 {}

.single-rating {
    display: flex;
    align-items: center;
    width: 35vh;
}

.single-rating>p {
    display: inline-block;
}

.buy-options {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.modal-content {
    width: 100%;
    display: flex;
}

.modal-image {
    width: 30%;
    margin-right: 40px;
    border: 2px solid #ebb032;
    opacity: 0.7;
    border-radius: 5px;
}

.modal-button {
    text-decoration: none;
}

.single-product-p {
    font-size: clamp(0.8rem, 2vh, 2em);
}

@media only screen and (max-width: 767px) {
    .single-product {
        justify-content: center;
        width: 95%;
    }
    .left-side {
        width: 70%;
    }
    .right-side {
        width: 90%;
    }
    .buy-options {
        justify-content: center;
    }
}