.footerContainer {
    bottom: 0;
    background-color:#1976d2;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(320px, 1fr) );    
    align-items: center;
    justify-content: space-between;
}
.footerContainer div {
    height: 100%;
}
#nav {
    display:flex;
    gap: 10px;
}
#social {
    width: 100%;
    margin-right: 10px;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
}
#social a {
    color: #1d125a;
}
