.footerContainer {
    bottom: 0;
    background-color:#23394d;
    width: 100%;
    height: 11vh;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(320px, 1fr) );    
    align-items: center;
    justify-content: space-between;
    row-gap: 1rem;
}
#nav, #social {
    display:flex;  
    align-items: center;
    gap: 1rem;
}
#nav {
    gap: 1rem;
    margin-left: 2rem;
    margin-bottom: 8px;
    padding: 0.2rem;
}
#social {
    width: 100%;
    justify-content: flex-end;
}
#nav a, #social a {
    font-size:1.2rem;
    text-decoration: none;
    color: #ebb032;
    text-transform: uppercase;
    text-align: center;
    padding: 0.2rem; 
}
#nav a:hover, #social a:hover {
    border-bottom: 3px solid #ebb032;
}
#social a:last-child {
    margin-right: 2rem;
}
#nav #active a {
    color:#23394d; 
}
#nav #active a:hover{
    border-bottom: 2px solid #23394d; 
    padding-bottom: 0.1rem;

}
#nav div {
    margin-top: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#nav #active {
    padding: 0.3rem;
    padding-bottom: 0.5rem; 
}
