
.AboutUsInfo{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gmap_canvas{
    margin: 15px;
    width: 90%;
    height: 500px;
}