
.SingleCategory {
    margin-left: 80px;
    margin-right: 100px;
}
/* .ImageList{
    margin-left: 80px;
    margin-right: 100px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
} */

/* .ImageListItem{
    padding: 15px;
}  */

/* .MuiImageListItem-img{
    height: 300px;
    width: 300px;
}  */