
#SingleCategory {
    margin-left: 80px;
    margin-right: 100px;
}

#ImageListItem{
    margin: 2%;
    height: 850px;
    width: 550px;
}

#ImageListItem > img {
    height: 800px;
    width: 500px;
    object-fit: contain;
    margin: 15px;
}